version: '{build}'
image: Visual Studio 2017
install:
- ps: |
    # nuget install inheritdoc -Version 1.2.0.1
build_script:
- ps: |
    dotnet build -c Release
    # & $env:USERPROFILE\.nuget\packages\inheritdoc\1.2.0.1\tools\InheritDoc.exe -o -b .\src\NodeJS\bin\Release\netstandard2.0
    dotnet pack --no-build -c Release
artifacts:
  - path: '**\*.nupkg'
deploy:
  provider: NuGet
  api_key:
    secure: YuSNfK09e6bNa8EEC2jAsTZP8b8sHN6BDdhrqbI1hRAoqSAUUre5gH8CaW/85NpF
  skip_symbols: false
  artifact: /.*\.nupkg/
cache:
    - '%USERPROFILE%\.nuget\packages -> **\*.csproj'